Django~=6.0
psycopg[binary]~=3.3
celery~=5.6
redis~=7.3
Pillow~=12.1
argon2-cffi~=25.1
django-redis~=6.0
gunicorn~=25.1
blind-watermark~=0.4.4
pytesseract~=0.3.13
requests~=2.32
anti7ocr[eval] @ git+https://github.com/j7johnny/anti7ocr.git@451d8ff53ac0801a42236e7d3b27c79710b948d5
